@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110vh;
  width: 100%;
  background-image: url(../images/register_login.png);
  background-size: cover;
  background-position: center;
}

.form {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 40px;
  border-radius: 10px;
  width: 60%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


.form h3 {
  font-family: "Jersey 15", sans-serif;
  font-size: 3rem;
  color: #fff;
  margin-bottom: 20px;
  text-shadow: 0 0 10px #687EFF, 0 0 20px #687EFF, 0 0 30px #687EFF,
    0 0 40px #687EFF, 0 0 50px #687EFF, 0 0 60px #687EFF, 0 0 70px #687EFF;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  background: transparent;
  border: 2px solid #80B3FF;
  border-radius: 5px;
  color: #fff;
  padding: 10px;
  margin: 10px 0;
  width: 60%;
  box-sizing: border-box;
  font-size: 1em;
  text-align: center;
}

input[type="text"]:focus,

input[type="file"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  outline: none;
  border-color: #B6FFFA;
  width: 100%;
}

.bottom {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.btn {
    
margin: 2rem;
  padding: 10px 50px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  color: #687EFF;
  background-color: transparent;
  position: relative;
  border: 1px solid rgb(0, 255, 213);
  box-shadow: 0px 10px 10px -10px rgb(0, 255, 213);
  
}


.btn:hover {
  background-color: transparent;
  border: 1px solid rgb(0, 255, 213);
  box-shadow: 0px 10px 10px -10px rgb(0, 255, 213);
  text-shadow: -1px -1px 0px #1df2f0, 1px 1px 0px #E94BE8;
}

.btn:hover::after {
    animation: glitch_4011 1s;
    text-shadow: 10 10px 10px black;
    animation-timing-function: steps(2, end);
    text-shadow: -3px -3px 0px #1df2f0, 3px 3px 0px #E94BE8;
    background-color: transparent;
    border: 3px solid rgb(0, 255, 213);
  }
  
@keyframes glitch_4011 {
  0% {
    clip-path: var(--move1);
    transform: translate(0px,-10px);
  }

  10% {
    clip-path: var(--move2);
    transform: translate(-10px,10px);
  }

  20% {
    clip-path: var(--move3);
    transform: translate(10px,0px);
  }

  30% {
    clip-path: var(--move4);
    transform: translate(-10px,10px);
  }

  40% {
    clip-path: var(--move5);
    transform: translate(10px,-10px);
  }

  50% {
    clip-path: var(--move6);
    transform: translate(-10px,10px);
  }

  60% {
    clip-path: var(--move1);
    transform: translate(10px,-10px);
  }

  70% {
    clip-path: var(--move3);
    transform: translate(-10px,10px);
  }

  80% {
    clip-path: var(--move2);
    transform: translate(10px,-10px);
  }

  90% {
    clip-path: var(--move4);
    transform: translate(-10px,10px);
  }

  100% {
    clip-path: var(--move1);
    transform: translate(0);
  }
}




input[type="file" i] {
  align-items: center;
}

.mb-3 {
    outline: none;
    border-color: #B6FFFA;
    width: 100%;
}



@media (min-width: 768px) {
  .mb-3 {
    width: 60%;
}
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
  }
}


@media (min-width: 1024px) {
  .mb-3 {
    width: 60%;
}
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
  }

}

